* {
  font-family: "Open Sans", sans-serif;
}

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  height: 100%;
  background-size: 100% 100%;
}

.ancho-100 {
  width: 100%;
}

.input-field input:focus+label {
  color: #327b74 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #327b74 !important;
  box-shadow: 0 1px 0 0 #327b74 !important;
}

.md-leal {
  color: #4db6ac;
}

.card {
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 23px -2px rgba(50, 123, 116, 1);
  -moz-box-shadow: 10px 10px 23px -2px rgba(50, 123, 116, 1);
  box-shadow: 10px 10px 23px -2px rgba(50, 123, 116, 1);
}

.bajar {
  margin-top: 20px;
}

hr {
  height: 2px;
  background-color: black;
  width: 95%;
}

.rojoclaro {
  background: #f66060;
}

.rojoclaro-texto {
  color: #f66060;
}

.verdeclaro-texto {
  color: #1ed12d;
}

.verdeclaro {
  background: #1ed12d;
}

.activo {
  background: #327b74;
}

.nobg:hover {
  background: #4db6ac;
}